/* indexPage.css */
body {
	background-color: #e3ab02;
}
h1 {
	color: #4424D6;
	text-align: center;
	font: italic 350% fantasy;
	height: 20px;
}
h2 {color: #4424D6;
	text-align: center;
	font: italic 150% fantasy;
	height: 75px;
}

