/* indexPage.css */
body {
	background-color: #C6C6C6;
}
h1 {color: #4424D6;
	text-align: center;
	font: italic 350% fantasy;
	height: 20px;
}
h2 {color: #4424D6;
	text-align: center;
	font: italic 175% fantasy;
	height: 5px;
}
h3 {color: #4424D6;
	text-align: center;
	font: italic 160% fantasy;
	height: 70px;
}
ul {color: #4424D6;
	text-align:center-left;
	font: 150% fantasy;
}
p {color: #4424D6;
	text-align:center;
	font: 160% fantasy;
}
img {
	max-width: 100%;
	text-align:center;
	border-style:solid;
	border-color:black;
}
img.thumbnail {
	width:20%;
	height:50%;
	margin:3%;
}
img.rotate90{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}